<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Egghead Videos</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">
<form>
    <input type="text" ng-model="app.selectedContactCopy.firstName"/>
    <button ng-click="app.saveContact()">Save</button>
</form>
<table class="table table-bordered">
    <thead>
    <tr>
        <td>First</td>
        <td>Last</td>
        <td>Phone</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in app.contacts" ng-click="app.selectContact(contact)">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.phone}}</td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" src="script/angular.min.js"></script>
<script type="text/javascript" src="script/angular-animate.js"></script>
<script type="text/javascript" src="script/main.js"></script>
</body>
</html>