<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Egghead Videos</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

<div ng-app="app">
    <input type="text" ng-model="model.title"/>
    <input type="text" ng-model="model.content"/>
    <zippy title="{{model.title}}">
        The content is: {{model.content}}
    </zippy>

</div>

<script type="text/javascript" src="script/angular.min.js"></script>
<script type="text/javascript" src="script/main.js"></script>
</body>
</html>