<table>
    <thead>
    <th>Number</th>
    <th>Gender</th>
    <th>GivenName</th>
    <th>Surname</th>
    <th>Username</th>
    <th>Password</th>
    <th>EmailAddress</th>
    <th>CountryFull</th>
    <th>City</th>
    <th>StreetAddress</th>
    <th>Birthday</th>
    </thead>
    <tr>
        <td>{{person.Number}}</td>
        <td>{{person.Gender}}</td>
        <td>{{person.GivenName}}</td>
        <td>{{person.Surname}}</td>
        <td>{{person.Username}}</td>
        <td>{{person.Password}}</td>
        <td>{{person.EmailAddress}}</td>
        <td>{{person.CountryFull}}</td>
        <td>{{person.City}}</td>
        <td>{{person.StreetAddress}}</td>
        <td>{{person.Birthday}}</td>
    </tr>
</table>
